
.campos{
	font-style: normal;
	font-weight: lighter;
	color: #800055;
}
#art_nuevo{
	display: none;
}
.separador{
	height: 1.2em;
	margin: 10px 10px;
	background-color: #fcfcfc;
	border: 1px solid #800055;
	padding: 10px;
	border-radius: 3px;
}
.info{
	background-color:#00b0b0;	
	padding: 10px 5px 5px 10px;
	margin-bottom: 10px;
	color: #fff;
	box-shadow:  inset -10px -5px 5px rgba(255,255,255,0.50);
	text-shadow:2px 2px 1px rgba(0,0,0,0.6) ;
}
.datos{
	font-size: 0.8em;
}
.pista{
	color: #666666;
	margin-left: 15px;
	font-size: .8em;
}