

body{
background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.container{
	width: 80%;
	margin: auto;
	padding: 10px;
	clear: both;
}
.navegador{
	width: 80%;
	margin: 0px auto;
	align-content: center;

}
.lista{
	width: 100%;
	align-self: center;
	margin: auto;

}

.link{
	list-style: none;
	float: left;
	
	background-color: #800055;
	height: 20px;
	padding: 5px 20px 5px 20px;
	text-align: center;
	margin: 2px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.link a{
	text-decoration-line: none;
	text-decoration: none;
	color: #000;
	color: #fff;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.60);
}
.link:hover{
	background-color: pink;
	transition: all .2s;
}
