label{

	padding: 5px;
	margin: 5px 5px 10px 0px;
	display: block;
	color: teal;
	font-weight: bold;

}
input{
	width: 50%;
	font-size: 1.4em;
	color: #970184;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid teal;
	margin-bottom: 15px;
	outline: none;
}
input:focus{
	background-color: #ffeaea;+
}
button{
	background-color: #800055;
	height: 40px;
	padding: 5px 20px 5px 20px;
	text-align: center;
	margin: 2px;
	margin-bottom: 10px;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	outline: none;
}
table{
	margin-top: 5px;
	border: 1px solid teal;
	padding: 5px;
	color: #970184;
	border-radius: 5px;
	width: 100%;
	
}

.datos{
	padding: 4px;
	color: #131313;
	border-bottom:  1px solid #800055;
	border-left: 1px solid #800055;
	font-size: 0.8em;
	background-color: #eeffff;
	box-shadow: inset 1px -1px 1px .5px rgba(128,0,88,.4);
}
#form_cliente{
	display: none;
}
.boton{
	padding: 10px;
}
#texto{
	padding: 5px;
	margin: 5px 5px 10px 0px;
	color: teal;
	font-weight: bold;
}
input[type='radio']{
	width: 10%;
}
select{
	width: 51%;
	border: 1px solid teal;
	border-radius: 5px;
	font-size: 1.2em;
	padding: 3px;
	color: teal;
	outline: none;
	margin-bottom: 10px;
}
.pista{
	color: #666666;
	margin-left: 15px;
	font-size: .8em;
}