

#entrada{
	width: 50%;
	font-size: 1.4em;
	color: #970184;
	border-radius: 5px;
	padding: 5px;
	border-color:1px solid  teal;
	margin-bottom: 15px;
	outline: none;
	
}
#entrada_producto{
	width: 50%;
	font-size: 1.4em;
	color: #970184;
	border-radius: 5px;
	padding: 5px;
	border-color:1px solid  teal;
	margin-bottom: 15px;
	outline: none;
}


label{
	padding: 5px;
	margin: 5px 5px 10px 0px;
	display: block;
	color: teal;
	font-weight: bold;
}
table{
	border: 1px solid teal;
	padding: 2px;
	color: #970184;
	border-radius: 5px;
	width: 100%;
	
}
.art{
	width: 10%;
}
.campos{
	padding: 6px;
	font-size: 1.2em;
	
	font-style: italic;
	color: #cc3333;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.datos{
	padding-left: 4px;
	color: #131313;
	border: 1px solid black;
	font-size: 1em;
	background-color: #eeffff;
}
button{
	background-color: #800055;
	height: 40px;
	padding: 5px 20px 5px 20px;
	text-align: center;
	margin: 2px;
	margin-bottom: 10px;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	outline: none;
}
.in_line{
	display: inline;
	width: 20%;
}